#body {
    text-align: left;
    position: absolute;
    left: 40%;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    padding: 30px;
}
#calculate-button {
    display: block;
    margin-top: 25px;
}