#body {
    text-align: left;
    position: absolute;
    left: 40%;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    padding: 30px;
}
#calculate-tdee, #calculate-bmi, #calculate-bmr {
    display: block;
    margin-top: 25px;
    font-size: medium;
    padding: 10px;
    color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
#age, #weight, #height {
    font-size: medium;
    padding: 7px;
}
th, tr, td {
    border-style: solid;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px;
    font-size: medium;
    padding: 7px;
}
tr,td {
    text-align: right;
}